.pointListMain .form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
  margin-right: 5px;
}
.pointListMain .form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.pointListMain .form button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.pointListMain .pointList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}
.pointListMain .pointList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.pointList {
  padding: 0;
}
.pointListMain .pointList button {
  font-size: 16px;
  background-color: #ff3333;
  color: #FFF;
  border: 2px solid #ff3333;
  margin-left: 10px;
}
.pointListMain .pointList button:hover {
  background-color: #b30000;
  border: 2px solid #b30000;
  cursor: pointer;
}
#clearAllButton {
  padding: 10px;
  font-size: 16px;
  background-color: #ff3333;
  color: #FFF;
  border: 2px solid #ff3333;
}
#clearAllButton:hover {
  background-color: #b30000;
  border: 2px solid #b30000;
  cursor: pointer;
}
#saveButton {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
#saveButton:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
#exportButton {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
#exportButton:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
#calculateButton {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
#calculateButton:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.pointListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.pointListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
#backdrop {
  position: 'fixed';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: 'rgba(0,0,0,0.3)';
  padding: 50;
}
.pointListMain .modal modal {
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)';
}
#closeModalButton {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
#closeModalButton:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.pointListMain .squares input {
  padding: 10px;
  font-size: 16px;
  width: 165px;
  margin-right: 5px;
}
.pointListMain .squares textarea {
  padding: 10px;
  font-size: 16px;
  width: 560px;
  height: 265px;
  margin-right: 5px;
  margin-top: 10px;
}
